body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.posts {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts-buttons {
    margin: 10px 20px 0px 0px;
    width: 120px;
    height: 30px;
    color: black;
    background-color: rgb(214, 194, 10);
    font-size: 15px;
}

.modal-text-area {
    margin-top: 5px;
    height: 500px;
    background-color: lightgray;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.modal-create-post {
    width: 44rem;
}