.post {
    margin-left: 15%;
    margin-right: 15%;
}

.post-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 24px;
    font-weight: bold;
}

.post-author {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.author-name {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: bold;
    font-size: large;
}

.button {
    background-color: #f52749;
    color: white;
    height: 40px;
    width: 100px;
    font-size: large;
    border-radius: 5px;
}

.button:hover {
    box-shadow: 0 0 5px 5px rgba(133, 130, 130, 0.3);
}

.edit-button {
    margin-top: 10px;
}

.like-text {
    margin: 5px;
}

.comment-text-area {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 600px;
    height: 100px;
    border-radius: 5px;
    font-size: medium;
    display: block;
}

.all-comments {
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.each-comment {
    margin: 15px;
    padding: 15px 15px 15px 15px;
    background-color: white;
    border-radius: 5px;
}